@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');


.button-0,
.button-1,
.button-2 {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    transition: all .3s;
    background-color: var(--buttonColor) !important;
    border: 2px solid var(--buttonColor) !important;
    color: var(--bg1) !important;
    fill: var(--bg1) !important;
}

.button-0:hover,
.button-1:hover,
.button-2:hover {
    transform: translate3d(5px, 5px, 5px);
}

.button-0, .button-3, .button-7 {
    border-radius: 0;
}

.button-1, .button-1 img, .button-4, .button-4 img, .button-8, .button-8 img {
    border-radius: 0.5rem;
}

.button-2, .button-2 img, .button-5, .button-5 img, .button-9, .button-9 img {
    border-radius: 30px;
}

.button-3,
.button-4,
.button-5 {
    border: 3px solid var(--buttonColor);
    transition: all .3s;
    color: var(--buttonColor) !important;
    fill: var(--buttonColor) !important;
}

.button-3:hover,
.button-4:hover,
.button-5:hover {
    background-color: var(--buttonColor);
    color: var(--bg2) !important;
    fill: var(--bg2) !important;
}

.button-6 {
    padding: 20px 40px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 18px;
    color: var(--buttonColor) !important;
}

.button-6:after, .button-6:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid var(--buttonColor);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.button-6:after {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px);
}

.button-6:before {
    -webkit-transform: translate(-3px, -3px);
    transform: translate(-3px, -3px);
}

.button-6:hover:after, .button-6:hover:before {
    -webkit-transform: translate(0);
    transform: translate(0);
}

.button-7, .button-8, .button-9 {
    transition: unset;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--buttonTextColor) !important;
    border: 3px solid var(--buttonTextColor);
    background: var(--buttonColor);
    padding: 0.25em 0.75em;
    -moz-box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0;
    -webkit-box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0;
    box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0;
}

.button-7:active, .button-8:active, .button-9:active {
    -moz-box-shadow: 0 0 0 0;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    top: 5px;
    left: 5px;
}

.button-10 img, .button-11 img {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.button-10, .button-11 {
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 1rem 3rem;
    z-index: 999;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: var(--bg1) !important;
}

.button-10:hover, .button-11:hover {
    -webkit-transform: translate(0.2rem, 0.2rem);
    transform: translate(0.2rem, 0.2rem);
}

.button-10:before, .button-11:before {
    background: var(--buttonColor);
    content: '';
    border-radius: inherit;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: -9;
    top: 0;
    left: 0;
    padding: inherit;
}

.button-10:after, .button-11:after {
    -webkit-transition: inherit;
    transition: inherit;
    border-radius: inherit;
    content: '';
    display: block;
    position: absolute;
    z-index: -9999;
    top: 0.2rem;
    left: 0.2rem;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(45deg, var(--buttonColor), var(--buttonColor) 0.1rem, transparent 0.1rem, transparent 0.2rem);
}

.button-10:hover:after, .button-11:hover:after {
    -webkit-transform: translate(-0.2rem, -0.2rem);
    transform: translate(-0.2rem, -0.2rem);
}

.button-11:after {
    background: unset;
}

.button-11:after {
    background: unset;
}

.radius {
    border-radius: 10px !important;
}

.corner {
    border-radius: 0 !important;
}

.titleText {
    font-weight: 700;
    color: #23b5b5;
}

.descriptionText {
    color: var(--descriptionColor) !important;
    font-size: 15px;
    padding: 0 40px;
}

.rubik {
    font-family: "Rubik", sans-serif !important;
    font-weight: 400 !important;
}

.socialIcons > a {
    height: 50px !important;
    width: 50px !important;
    display: inline-flex !important;
    margin: 7px !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 25px;
}

.box {
    overflow: hidden !important;
    position: relative !important;
    padding-top: 75% !important;
}

.layer {
    display: flex !important;
    align-items: flex-end !important;
    height: 100% !important;
    background-color: var(--buttonColor) !important;
    width: 100% !important;
    bottom: 0 !important;
    position: absolute !important;
}

.absolute {
    bottom: 0 !important;
    left: 0 !important;
    position: absolute !important;
    min-width: 100% !important;
}

img.absolute {
    opacity: 0.2 !important;
}

.content {
    color: var(--buttonColor) !important;
    padding: 10px !important;
    padding-bottom: 15px !important;
    text-align: left !important;
    font-weight: 700 !important;
    font-size: 20px !important;
}

.content > .title, .content > .name {
    line-height: 1.2em !important;
    overflow: hidden !important;
}

.content > .title {
    max-height: 1.2em !important;
}

.content > .name {
    max-height: 2.4em !important;
}

@media (max-width: 768px) {
    .content > .title, .content > .name {
        font-size: 14px !important;
    }
}

.plyr {
    border-radius: var(--radius) !important;
}

.iframe.radius {
    overflow: hidden;
    transform: translateZ(0px);
}

iframe {
    border: 0;
}

.container {
    padding: 1.5rem 17px 100px 17px;
    text-align: center;
    max-width: 700px;
    min-height: -webkit-fill-available;
    min-height: calc(100vh);
    position: relative;
}

.brand {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
}

.link {
    margin-bottom: 10px;
}

.btn {
    position: relative;
    font-size: 13px;
    padding: 13px 20px;
}

.withImg {
    padding-right: 70px;
}

.btn > img {
    position: absolute;
    right: 4px;
    top: calc(50% - 20px);
    height: 40px;
}

.btn > a {
    position: absolute;
    right: 4px;
    top: calc(50% - 20px);
    height: 40px;
}

#user {
    margin-bottom: 20px;
}

.btn-close {
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    color: #B6B6B6;
}

.btn-close.dark {
    color: white;
}

.center {
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.btn svg {
    height: 25px;
    width: 25px;
    position: absolute;
}

.animate__flash {
    animation-duration: 2s;
}

.collapsableArrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

[data-id] {
    min-height: 50px;
}

.text-grey {
    color: #b9b9b9;
}

.customLinkColor > a {
    color: var(--fontColor) !important;
    transition: all .3s;
}

.customLinkColor > a:hover {
    color: var(--fontColor) !important;
}

.username {
    color: #000;
    font-size: 14px;
}

.username.dark {
    color: white;
}

.customSocialColor a, .customSocialColor a:hover {
    color: var(--socialColor) !important;
    fill: var(--socialColor) !important;
}

.customSocialColor a:hover {
    color: var(--socialColor) !important;
    fill: var(--socialColor) !important;
